header{
	top:0;
	left:0px;
	right:0px;
	position: fixed;
	background-color: blue;
}

.first{	margin-left:0px;
	text-align:centre;
	margin-top: 100px;
	margin-bottom:10px;
	
}

body{
	margin: 10px
	padding:10px

}
a{	
	color:brown;
	text-decoration: none;
}
header li{
	color:white;
	display:inline;
	margin-left:30px;

}
h1
{	text-shadow:4px 5px 10px red;
	border-bottom: 5px black solid;
}
header li:hover{
	margin-top:0px;
	width:10px
	color:pink;

}
#second
{
	font-family:"Times new roman",times,serif;
	padding: 15px;
	padding-left : 20px;
	text-align: centre;
	background-color:pink;
}
#second ol{
	list-style-type:none;
}
footer{
	text-align: centre;
	background-color:#ffa500;
	color:#fff;
	padding:0px;
	
}

